<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django calculations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Django first blood App</h1>
    <div>
        <ul>
            <li><a href="/hello">Hello world endpoint</a></li>
            <li><a href="/hello/ALX">Hello ALX endpoint</a></li>
            <li><a href="/hello/Rafal">Hello Rafal endpoint</a></li>
        </ul>
    </div>

    {{ text }}

    <p>{{ text2 }}</p>

</body>
</html>